/* Box-sizing */
* {
    box-sizing: border-box;
}

/* To remove default margins */
body {
    margin: 0;
    transition: all 0.5s ease;
}
/* For Social Media Stoof in Header */
.navd {
    float: right;
    margin-top: 2.7%;
    margin-right: 1%;
	font-family: "Lato";
	font-size: 17.4px;
	color: #242929;
}

.facebook {
	height: 42px;	
    float: right;
    margin-top: 1.95%;
    margin-right: 0.5%;
}

.insta {
	height: 28px;
    float: right;
    margin-top: 2.55%;
    margin-right: 1%;
}

.twt {
	height: 41px;	
    float: right;
    margin-top: 2%;
    margin-right: 3%;
}

/* For navbar + sidebar + logo */
nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #00cccc;
    font-family: "Lato";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 12px;
    padding: 15px;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    font-size: 1.15em;
}

li.links:hover {
    transition: all 0.25s ease;
    background-image: linear-gradient(to right, #74ebd5, #acb6e5);
    border: 1.5px #003333 solid;
    border-radius: 10px;
    box-shadow: 2px 2px grey;
}

.right {
    float: right;
}

li:hover a {
    transition: all 0.25s ease;
    color: black;
    text-decoration: underline;
    text-shadow: 1.5px 1.5px white;
}

.nlink:hover a {
    color: black;
}

a.nlink {
    text-decoration: none;
    color: white;
}

a.sblink {
    text-decoration: none;
    color: black;
}

div.sblink:hover  {
    background-image: linear-gradient(to left, #aaffa9, #11ffbd);
    border: 1.5px #f8e8e8 solid;
    border-radius: 20px;
    transition: all 0.25s ease;
}

.sblink:hover a {
    text-decoration: underline;
    color: white;
    text-shadow: 1.5px 1.5px #666666; 
    transition: all 0.25s ease;
}

.omenu {
    background: transparent;
    border: none;
}

.omenu:hover {
    background: #009999;
    border-radius: 45px;
    box-shadow: 2.5px 2.5px grey;
    transition: all 0.25s ease;
}

.cmenu {
    background: transparent;
    border: none;
    margin-top: 8px;
    position: absolute;
    right: 0px;
}

.cmenu:hover {
    background: #99e6e6;
    border-radius: 45px;
    box-shadow: 2.5px 2.5px grey;
    transition: all 0.25s ease;
}

.sblink {
    height: 50px;
    padding-top: 10px;
    padding-left: 5px;
    margin-top: 8px;
    text-align: left;
    vertical-align: middle;
    font-family: "Lato";
}

#sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: #ccffff;
    display: none;
}

.close {
    width: 45px;
    height: 45px;
}

.menu {
    width: 45px;
    height: 45px;
}

/* Modifiers */
.bold {
    color: #9d6ab9;
}
.bold2 {
	color:#ff6666;
}
/* For title and accompanying icons */

.tdiv {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
h1.title {
    font-family: "Patua One";
    color: #996633;
    font-size: 5em;
    text-align: center;
    text-shadow: 3px 2.5px #99ccff;
}

.ico1 {
    float: left;
    margin-bottom: 1.5%;
}

.ico2 {
    float: right;
    margin-bottom: 1.5%;
    transform: scaleX(-1);
}

/* For Article */
.stitle1 {
    font-family: "Righteous";
    color: #7d8b11;
    text-shadow: 3px 2px #c1d92e;
    font-size: 3em;
    margin-top: 0%;
}

.stitle2 {
    margin-top: 2%;
    margin-bottom: 0%;
    font-family: "Righteous";
    font-size: 2.5em;
    color: #edc02c;
    text-shadow: 4px 3px #4d4d4d;
    text-align: center;
}

.sec1 {
    width: 50%;
    float: left;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 5%;
    padding-right: 4%;
    text-align: center;
}

.sec2 {
    width: 40%;
    float: right;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-right: 5%;
    text-align: center;
}

.sec3 {
    width: 45%;
    height: 15%;
    float: left;
    margin-top: -1%;
    margin-bottom: 1.5%;
    margin-left: 5%;
}

.sec4 {
    width: 40%;
    float: left;
    margin-top: -2.75%;
    margin-bottom: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.sec5 {
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.text1 {
    font-family: "Fira Sans";
    font-size: 1.25em;
}

.text2 {
    font-family: "Fira Sans";
	font-size: 1.5em;
}

.text3 {
    width: 35%;
    float: left;
    margin-right: 5%;
    font-family: "Fira Sans";
    font-size: 1.3em;
    text-align: left;
}

.text4 {
    font-family: "Fira Sans";
    font-size: 1.3em;
    text-align: center;
}

.text5 {
    font-family: "Fira Sans";
    font-size: 1.25em;
    text-align: center;
}

.img1 {
   margin-left: auto;
    margin-right: auto;
}

.img2 {
    border: 5px outset #27b46e;
    float: right;
    margin-top: 2%;
    margin-bottom: 12%;
}

.img3 {
    float: left;
    margin-top: 2.75%;
    margin-bottom: 2.75%;
    border: 3px outset #253f58;
}

.img4 {
	margin-top: 1%;
    border: 3px outset #f03613;
}

.img5 {
    float: left;
    margin-right: 5%;
    border: 5px outset #aec33a;
}

.img6 {
    float: right;
    border: 5px outset #fec748;
}

/* For Charities */

.tdiv2 {
    width: 25%;
    float: left;    
    margin-left: 37.5%;
    margin-right: 37.5%;
}

.stitle3 {
    font-family: "Righteous";
    font-size: 4em;
    color: #f47469;
    text-shadow: 3px 4px #eec8c0;
    text-align: center;
}

.stitle4 {
    font-family: "Lobster Two";
    font-size: 2.8em;
    float: right;
}

.stitle5 {
    font-family: "Lobster Two";
    font-size: 2.8em;
    float: left;
    margin-top: 5%;
}

.stitle6 {
    font-family: "Lobster Two";
    font-size: 3em;
    float: right;
    text-align: center;
}

.sec6 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5%;
}

.sec7 {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-left: 5%;
}

.sec8 {
    width: 50%;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0.5%;
}

.sec9 {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.text6 {
    font-family: "Fira Sans";
    font-size: 1.5em;
    text-align: right;
    width: 48%;
    float: right;
    margin-bottom: 3%;
}

.text7 {
    font-family: "Fira Sans";
    font-size: 1.5em;
    width: 48%;
    float: left;
}

.text8 {
    width: 100%;
    font-family: "Fira Sans";
    font-size: 1.65em;
    text-align: center;
}

.img7 {
    float: left;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 1.5%;
    border: 4.5px outset #2accbb;
}
	
.img8 {
    float: right;
    margin-top: 1.8%;
    margin-right: 2%;
}

.img9 {
    float: left;
    margin-top: 4.75%;
    margin-left: 2%;
}

.img10 {
    float: right;
    border: 4.5px outset #f9bb13;
}

.img11 {
    float: left;
    margin-left: 5%;
    margin-top: 3.5%;
}

.img12 {
    float: left; 
    margin-right: 5%;
    margin-bottom: 2%;
    border: 4.5px outset #f4712d;
}

.img13 {
    float: left;
    margin-bottom: 2%;
    border: 4.5px outset #d05a25;
}

/* Stories */
.tdiv3 {
    float: left;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.stitle7 {
    font-family: "Righteous";
    font-size: 4em;
    color: #dab61f;
    text-align: center;
    text-shadow: 3px 4px #fff9ad;
}

.stitle8 {
    font-family: "Righteous";
    font-size: 2em;
    text-align: right;
}

.stitle9 {
    font-family: "Righteous";
    font-size: 2em;
    text-align: left;
}

.sec10 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.sec11 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.img14 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    border: 7px outset #f3b128;
}

.img15 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    border: 7px outset #eca3b8;
}

/* References */
.tdiv4 {
    margin-left: auto;
    margin-right: auto;
}

.stitle10 {
    font-family: "Righteous";
    font-size: 4em;
    color: #9d6ab9;
    text-shadow: 3px 4px #edcbfe;
    text-align: center;
}

.sec12 {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.ref {
    font-family: "Fira Sans";
    font-size: 1.15em;
}

.link {
    font-family: "Fira Sans";
    font-size: 1.15em;
    padding-left: 1%;
}

/* Media Query for 600px */
@media screen and (max-width: 600px) {
    /* Social Media Stoof in Header */
    p.navd {
        margin-top: 2.35%;
        font-size: 10.4px;
    }
    
    img.facebook {
        margin-top: 0.65%;
        height: 30px;
    }
    
    img.insta {
        margin-top: 1.75%;
        height: 20px;
    }
    
    img.twt {
        margin-top: 0.8%;
        height: 30px;
    }
    
    /* Sidebar */
    div.sblink {
        height: 25px;
        padding-top: 3.25px;
        padding-left: 2.5px;
        font-size: 0.5em;
    }
    
    div.sblink:hover a {
        text-shadow: 0.75px 0.75px #666666;
    }
    
    img.close {
        width: 20px;
        height: 20px;
    }
    
    button.cmenu {
        margin-top: 3px;
        padding-top: 3px;
    }
    /* Navbar */
    img.menu {
        width: 20px; 
        height: 20px;
        margin-top: 3px;
    }
    
    li {
        font-size: 0.5em;
        margin-right: 6px;
        padding: 7.5px;
    }
    
    /* The Issue w/ Food Waste */
    h1.title {
        font-size: 2.25em;
    }
    
    h2.stitle1, h2.stitle2 {
        font-size: 1.5em;
    }
    
    p.text1, p.text2, p.text3, p.text4, p.text5 {
        font-size: 0.75em;
    }
    
    h2.stitle3, h2.stitle7, h2.stitle10 {
        font-size: 1.75em;
    }
    
    span.addpad2 {
        padding-left: 1%;
    }
    
    /* Charities & References */
    p.text6, p.text7, p.text8, p.ref, a.link {
        font-size: 0.55em;
    }
    
    h2.stitle4, h2.stitle5, h2.stitle6 {
        font-size: 1.15em;
    }
}

